@import url(https://fonts.googleapis.com/css?family=Raleway);
h1,
h2 {
  font-family: "Raleway", "helvetica", sans-serif;
}
.container {
  margin: auto;
  max-width: 1200px;
  min-width: 600px;
}
header {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
header h1 a:hover {
  text-decoration: underline;
}
#logo {
  padding: 10px;
}
nav li a:hover {
  color: #7e8aa2;
}
nav ul {
  padding-left: 0;
  flex-direction: row;
}
nav ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-left: 1px solid #7e8aa2;
}
nav li:first-child {
  border-left: none;
}
main{
  display: flex;
}
.section {
  /*flex: 1 1 auto;*/
  padding: 0 10px 10px 0;
}
.left-float {
  float:left;
  padding:0 10px 10px 0;
}
.sidebar {
  flex: 0 1 200px;
  padding: 20px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 70px 0 0 10px;
}
/* Form Styling Needs Adding */
